* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Roboto', sans-serif;
    background-color: gray;

}
 
.container {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);

    grid-template-areas: "header header header"
                         "contenido contenido sidebar"
                         "widget-1 widget-2 sidebar"
                         "footer footer footer"   ;
    
}

.container > div,
.container .header,
.container .contenido,
.container .sidebar,
.container .footer {
    background: blanchedalmond;
    padding: 1.2rem;
    border-radius: 0.25rem;
}

.container .header {
    background: #12203e;
    color: #fff;
    grid-area: header;
    border-radius: 10px;
}

.container .sidebar {
    background: aqua;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .widget-1,
.container .widget-2 {
    background: rebeccapurple;
    height: 7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .contenido {
    grid-area: contenido;
    border-radius: 10px;
}

.container .widget-1 {
    grid-area: widget-1;
    border-radius: 10px;
}

.container .widget-2 {
    grid-area: widget-2;
    border-radius: 10px;
}

.container .sidebar {
    grid-area: sidebar;
    border-radius: 10px;
}

.container .footer {
    grid-area: footer;
    border-radius: 10px;
}



.miPost {
    /* border: 5px solid black; */
    margin-top: 2rem;
    background-color:peachpuff;
    padding: 1.2rem;
    border-radius: 10px;
}
.content_miPost {
    margin-bottom: 2rem;
}
.date_miPost {
    font-size: small;
}

/* Para postulados como axiomoas, teoremas, lemas etc */
.postulado {
    text-align: center;
    border: 2px solid #12203e;
    padding: 0.8rem;
    margin: 1rem 0 1rem 0;
}
.demostracion_contenido {
    margin: 0.3rem 0 0.3rem;
}
.demostracion_logica {
    margin-top: 0.5rem;
}
.logica_proposicion {
    margin-bottom: 0.7rem;
}
.logica_justificacion {
    margin-bottom: 0.7rem;
}
.footer {
    font-size: small;
}
/* Img de bajo construcción */

.construction {
    width: 100%;
}
